.banner{
  padding-top: 140px;
  min-width: 320px;
  margin-bottom: 48px;
}

.banner__block {
  display: flex ;
  flex-direction: column;
  position: relative;
}

.banner__title {
  display: flex;
  margin: 0px;
  flex-wrap: wrap;
  margin-bottom: 28px;
  font-size: 66px;
  line-height: 110%;
  font-weight: 800;
  color:$Accenlor;
  span {
    color:$BlackColor;
  }
}

.banner__subtitle {
  flex-wrap: wrap;
  color:$BlackColor;
  font-weight: 800;
  font-size: 52px;
  line-height: 120%;
  span {
    color: $Accenlor;
  }
}

.title__internship {
  font-family: 'Montserrat Alternates', sans-serif;
  color:$Accenlor;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 130%;
}


.text_block{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.text_Banner{
  text-align: start;
  font-size: 18px;
  font-weight: 400;
  color: $BlackColor;
  line-height: 140%;
  margin-bottom: 24px;
  width: 100%;
}

.text_buttom{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 306px;
  gap: 16px;
  p{
    width: 194px;
    font-size: 28px;
    font-weight: 600;
  }
}
.text__margin{
  width: 100%;
}
.text_ostup {
  margin-bottom: 16px;
}
.displye__to {
  display: none;
}

.button_mer_om_meg {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 106px;
  // height: 106px;
  transition: fill 0.3s, transform 0.3s ease; /* Плавный переход для fill и transform */
  -webkit-tap-highlight-color: transparent; /* Отключает выделение на мобильных */
  display: inline-block; /* Чтобы правильно отображать SVG */
  
  svg {
    cursor: pointer; /* Меняет курсор на указатель */
    transition: background 0.3s, border-radius 0.3s; /* Плавный переход для фона и радиуса */
    
    /* Цвет фона при наведении */
    &:hover rect {
      transition: fill 0.3s;
      fill: $Accenlor; /* Устанавливаем цвет для элемента SVG */
    }
  }

  /* Увеличение SVG на 20% при ховере */
  &:hover {
    transform: scale(1.2); /* Увеличиваем SVG на 20% при ховере */
  }

  /* Убираем стандартную рамку фокуса и тень */
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}
  

// .arrow {
//   transition: transform 0.3s ease; /* Плавный переход для стрелки */
//   transform-origin: center; /* Задаем точку масштабирования внизу */
// }
// .button_mer_om_meg {
//   &:hover .arrow {
//   transform: scale(1.5); /* Увеличиваем стрелку на 20% при ховере */
//   }
//   &:hover rect {
//     transition: fill 0.3s;
//     fill:$Accenlor;
//     }
// }
.button_mer_om_meg {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Плавный переход для фона */
  transform-origin: center; /* Центрируем трансформацию */
  border-radius: 50%; /* Скругляем фон контейнера, чтобы он совпадал с кругом */
}

.button_mer_om_meg:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
  background-color: orange; /* Заливка фона при ховере */
}

.button_mer_om_meg:hover .circle-bg {
  stroke: transparent; /* Убираем обводку круга при ховере */
}

.button_mer_om_meg svg {
  width: 100%;
  height: 100%;
}


.text_banner_adaptive{
  display: flex;
  flex-direction: column-reverse;
}
