.button__FOOTER_ANIM {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 106px;
  // height: 106px;
  transition: fill 0.3s, transform 0.3s ease; /* Плавный переход для fill и transform */
  -webkit-tap-highlight-color: transparent; /* Отключает выделение на мобильных */
  display: inline-block; /* Чтобы правильно отображать SVG */
  
  svg {
    cursor: pointer; /* Меняет курсор на указатель */
    transition: background 0.3s, border-radius 0.3s; /* Плавный переход для фона и радиуса */
    
    /* Цвет фона при наведении */
    &:hover rect {
      transition: fill 0.3s;
      fill: $Accenlor; /* Устанавливаем цвет для элемента SVG */
    }
  }

  /* Увеличение SVG на 20% при ховере */
  &:hover {
    transform: scale(1.2); /* Увеличиваем SVG на 20% при ховере */
  }

  /* Убираем стандартную рамку фокуса и тень */
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}


