.wrapper {
  max-width: 1600px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  z-index: 1;
  width: 100%;
  position: fixed;
  margin-bottom: 24px;
}

.container {
  max-width: 1600px;
  display: flex;
  align-items: center;
  margin: 0px auto;
  padding: 40px 20px;
}

.header__containe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  display: flex;
  z-index: 1;
}

.logo__img {
  display: flex;
  width: 60px;
  height: 48px;
  transition: fill 0.3s;
  svg{
    &:hover path{
      transition: fill 0.3s;
      fill:$Accenlor;
    }
  }
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

hr {
  display: none;
}

.menu__link.active-link {
  display: block;
  color:$BlackColor;
  border: none;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
  &:hover {
    border: none;
    color: $Accenlor;
    border-radius: 4px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition:0s;
    border: 3px solid#1D2430;
  }
  a {
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.header__burger-btn {
  position: fixed;
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border:none; 
  z-index: 2;
  background-color: transparent;
  span {
    position: absolute;
    border-radius: 10px;
    width: 40px;
    height: 2px;
    left: 0px;
    background-color:$BlackColor;
    transition: transform .3s, opacity .3s;
    &:nth-child(2) {
      background-color:$BlackColor;
      width: 50%;
      margin-left: 20px;
      width: 18px;
    }
  }
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger-btn span:nth-child(2) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
  background-color:$BlackColor;
  height: 2px;
}
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0 ;
}
.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
  background-color:$BlackColor;
  height: 2px;
}

body.lock {
  overflow: hidden;
}

@media (max-width:1024px) {
  .header__burger-btn {
    display: block;
    margin-left: auto;
  }

  .menu {
    position: absolute;
    left: -100vw;
    top: 0px;
    background-color: transparent;
    width: 100vw;
    transition: transform 0.6s ;
    background-color:$BaseColor;
    height: 100vh;
    display: block;
    padding: 0;
    margin: 0;
    // justify-content: center;
    // align-items: center;
  }
  
  .menu__list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 124px;
    padding: 0px 20px;
  }
  .menu__item {
    position: relative;
    margin-top: 0px;
    text-decoration: none;
    color: black;
    min-width: 100px;
    width: 100%;
  }


  
  .menu__link {
    color:$BlackColor;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 22px;
    // height: 24px;
    font-weight: 600;
    display: block;
    padding: 28px 0px;
  }
  .menu__item::after {
    display: inline;
    content: "";
    position: absolute;
    left: 24px;
    bottom: 0;
    height: 1px; /* Толщина линии */
    // width: 100%;
    width: 100vw; /* Растягиваем на всю ширину окна */
    background-color:#B4B4B4;
    max-width: calc(100% + 260px); /* Делаем линию на всю ширину родителя */
      margin-left: -20px; /* Подгоняем, чтобы выйти за границы текста */
    width: 100%;
  }

  .link__behance,
  .link__linkedin,
  .link__instagram,
  .link__github {
    color:#FDFEFE;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    display: block;
    padding: 10px 0px;;
  }
  .header.open .menu {
    transform: translateX(100%);
  }
  }