.BGMain {
  background-color: $BaseColor;
}

.video-container{
  margin-bottom: 40px;
}

.block__сard {
  display: flex;
  flex-direction: column;
  // align-items: center ;
  border-radius: 8px;
  padding: 100px 0px;
}

.bg_main_arbiederaring{
  background-color: $BlackColor;
}
.bannerBLOKS {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.arbeidserfaring{
  display: flex;
  flex-direction: column;
  // background-color: $BlackColor;
  h5{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    position: relative;
    margin-bottom: 26px;
    color: $Accenlor;
    &:after {
      display: inline;
      content: "";
      position: absolute;
      left: 0px;
      height: 1px; /* Толщина линии */
      // width: 100%;
      // width: 100vw; /* Растягиваем на всю ширину окна */
      background-color:#B4B4B4;
      width: 100%;
      bottom: -10px;
    }
  }
}

.block_jobber{
  margin-bottom: 52px;
}

.title_expirc{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  color: $SecondaryColor;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.text_title{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color:$BaseColor;
  margin-bottom: 16px;
}

.textDesrc{
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color:$BaseColor;
}


.programmer_h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  font-size: 38px;
  font-weight: 800;
  line-height: 140%;
  color: $BlackColor;
  margin-bottom: 24px;
}


.prosjekter_section{
  padding-top: 56px;
  padding-bottom: 56px;
}


.block_prosjektr_title{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 54px;
  h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 38px;
    line-height: 140%;
    font-weight: 800;
    margin-bottom:20px ;
    color: $BlackColor;
  }
  p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: $SecondaryColor;
    &:after {
      display: inline;
      content: "";
      position: absolute;
      left: 0px;
      height: 1px; /* Толщина линии */
      // width: 100%;
      // width: 100vw; /* Растягиваем на всю ширину окна */
      background-color:#B4B4B4;
      width: 100%;
      bottom: -30px;
    }
  }
}

.block__margin{
  margin-bottom: 32px;
}
.kategori {
  display: flex;
  flex-direction: column;
  // margin-bottom: 40px;
  a {
    min-width: 106px;
  }
  h5{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    color:$BlackColor;
  }
  p{
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 300;
    color:$BlackColor;
  }
}
.kategori_blocks{
  display: flex;
  gap: 100px;
  margin-bottom: 42px;
  position: relative;
  &:after {
    display: inline;
    content: "";
    position: absolute;
    left: 0px;
    height: 1px; /* Толщина линии */
    background-color:#B4B4B4;
    width: 100%;
    bottom: -20px;
  }
}

.img_project{
  width: 390px;
  height: 300px;
}

.p_left{
  margin-left: 62px;
}

// .block__button {

// }




/* Основной стиль контейнера */
.video-container {
  max-width: 100%;
  margin: 40px auto;
}

/* Адаптивное видео */
.responsive-video {
  width: 100%;
  max-height: 100%;
  border-radius: 8px;
}




//Mine ferdigheter
.block__change__posit{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mine_ferdigheter{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-width: 320px;
  margin-bottom: 24px;
  p{
    
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: $SecondaryColor;
  }
  h2{
    position: relative;
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 38px;
    line-height: 140%;
    font-weight: 800;
    // margin-bottom: 52px;
    color: $BlackColor;
    &:after {
      display: inline;
      content: "";
      position: absolute;
      left: 0px;
      height: 1px; /* Толщина линии */
      background-color:#B4B4B4;
      width: 100%;
      bottom: -20px;
    }
  }
}
.h2_block{
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  // line-height: 140%;
  font-weight: 700;
  margin-bottom:20px;
  color: $BlackColor;
  h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    // line-height: 140%;
    font-weight: 700;
    color: $BlackColor;
  }

}

.svg_poster {
  display: flex;
}

.blockS_orfingsanimasjoner{
  position: relative;
  margin-top: 40px;
  &:after {
    display: inline;
    content: "";
    position: absolute;
    left: 0px;
    height: 1px; /* Толщина линии */
    background-color:#B4B4B4;
    width: 100%;
    bottom: -40px;
  }
// &:last-child:after {
//   display: none;
//   }
}





// Programmer som jeg behersker
.blocks {
  display:flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  position: relative;
  justify-content: center;
  gap: 32px;
  // margin-bottom: 50px;
}

.blocks._active .block {
  transform: translate(0px,0px);
  opacity: 1;
  transition:all 0.8s ease 1s;
}

.blocks._active .block:nth-child(2) {
  opacity: 1;
  transform: translate(0px,0px);
  transition:all 0.8s ease 0.6s;
}

.blocks._active .block:nth-child(4) {
  opacity: 1;
  transform: translate(0px,0px);
  transition:all 0.8s ease 0.6s;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:$BaseColor;
  border-radius: 6px;
  // padding: 20px 40px;
  transform: translate(0px,-50%);
  opacity: 0;
  transition:all 0.3s ease 0s;

  &:nth-child(2) {
    transform: translate(0px, 50%);
    opacity: 0;
    transition:all 0.3s ease 1s;
  }
  &:nth-child(4) {
    transform: translate(0px,-50%);
    opacity: 0;
    transition:all 0.3s ease 0s;
  }
  &:nth-child(5) {
    transform: translate(0px, 50%);
    opacity: 0;
    transition:all 0.3s ease 0s;
  }

p {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  align-items: center;
  font-size: 18px;
  // line-height: 26px;
  font-weight: bold;
  color: $BlackColor;
}
  img {
    width: 99px;
    height: 99px;
    margin-bottom: 8px;
  }
}

.displye__to {
  display: none;
}





// FOOTER

.padding_footer {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer_alltid_block{
  margin-bottom: 56px;
}

.alltid_block{
  
  h2{
    font-size: 66px;
    line-height:100%;
    font-weight: 900;
    color: $BlackColor;
    letter-spacing: -1px;
    margin-bottom: 32px;
    color: $BlackColor;
  }
}

.gmail_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  h5{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: $BlackColor;
  }
  &:after {
    display: inline;
    content: "";
    position: absolute;
    left: 0px;
    height: 2px; /* Толщина линии */
    background-color:$BlackColor;
    width: 100%;
    bottom: -16px;
  }
  // &:hover {

  // }
}



/* Начальные стили для ссылок в меню */
.liNK_footer_Gmail {
  position: relative;
  color: black; /* Исходный цвет ссылки */
  text-decoration: none; /* Убираем стандартное подчеркивание */
  transition: color 0.3s ease; /* Плавный переход цвета */
}

/* Изменение цвета текста при наведении */
.liNK_footer_Gmail h5:hover {
  color:$Accenlor; /* Цвет ссылки при наведении */
}

/* Подчеркивание при наведении, начинающееся слева */
.liNK_footer_Gmail h5::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Расстояние от текста до линии */
  width: 0;
  height: 4px; /* Толщина подчеркивания */
  background-color: $Accenlor; /* Цвет линии */
  transition: width 0.3s ease; /* Плавное появление линии */
}

/* Показываем подчеркивание при наведении */
.liNK_footer_Gmail h5:hover::after {
  width: 100%; /* Линия занимает всю ширину текста при ховере */
}



.footer__block_change{
  display: flex;
  // align-items: center;
  flex-direction: column;
}

.footer_gmail_buttom{
  width: 106px;
  height: 106px;
}

.footer_nav{
  display: flex;
  margin-bottom: 32px;
}
.footer_menu{
  list-style: none;
  padding: 0; /* Это также уберет отступ слева у списка */
  margin: 0;  /* Убирает стандартные внешние отступы */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  gap: 18px;
}
.footer_link{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: $BlackColor;
}

.footer_social_block{
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #636363;
  }
.footer_svg{
  display: flex;
  gap: 50px;
  margin-bottom: 24px;
}


  // PROJECT

  .block_project {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .UT_class_page_project {
    padding: 20px 31px 20px 31px;
    background-color: $BlackColor;
    border-radius: 12px;
    h4 {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 16px;
      color: $BaseColor;
      font-weight: 600;
    }
    .video-container {
      margin-top: 0px;
      margin-bottom: 8px;
    }
  }

  .UT_class_app_project {
    border-radius: 12px;
    background-color: $Accenlor;
    padding: 18px 15px 24px 15px;
    .video-container {
      margin-top: 0px;
      margin-bottom: 16px;
    }
    h4 {
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 22px;
      color: $BaseColor;
      font-weight: 700;
      line-height: 120%;
      width: 231px;
      margin-bottom: 16px;
    }
    p {
      font-size: 14px;
      color: $BaseColor;
      font-weight: 500;
      line-height: 140%;
    }
  }



  .UT_class_motion_project{
    background-color:#F2F0F1;
    padding: 24px 21px;
    border-radius: 12px;
    .video-container {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }


.UT_class_2020_project{
  border-radius: 22px;
  padding: 18px 16px 28px 16px;
  background-color: #FAFAFA;

  .video-container {
    margin-top: 0px;
    margin-bottom: 16px;
  }
  h4 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }
}

/// ELDORADO
.UT_class_eldorado_project{
  h4 {
    font-size: 22px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 16px;
    color: $Accenlor;

  }
  p {
    font-size: 14px;
    line-height: 140%;
    color: $BlackColor;
  }
  .video-container_Eldorado{
    margin-top: 24px;
    height: 400px;
  }
}

.new_video_block {
  padding: 58px 35px 40px 24px;
  background-color: $BlackColor;
  border-radius: 12px;
  h4 {
    color: $BaseColor;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
    line-height: 140%;
    color: $BaseColor;
  }
}

// FAMILIA
.UT_class_familia_project {
  display: flex;
  flex-direction: column;
  h4 {
    font-size: 22px;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 12px;
    color: $Accenlor;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 24px;
  }
  // .video-container{
  //   width: 390px;
  //   height: 247px;
  // }
}

.block_famil_bg_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
}

.familia_backgraund {
  border-radius: 12px;
  background-color: $Accenlor;
  width: 348px;
  height: 279px;
  display: flex;
  align-items: center;
  justify-content: center;
  .responsive-video {
    width:390px;
    // height: 247px;
    border-radius: 8px;
  }
  .video-container {
    max-width: 390px;
  }
}
// VIDEOOOOO LOGO
.video-section_logo {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 400px; /* Или заданная высота вашей секции */
  display: flex;
  align-items: center;
  justify-content: center;
}
.new_video_block h4 {
  width: 218px;
}
.video-background_logo {
  position: relative;

  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* Полностью отключает элементы управления */
}
.ellips_svg_logo_newvideo {
  display: flex;
  position: absolute;
  top: 47px;
  left: 6px;
  width: 342px;
  height: 342px;
}
.disc2020_desc{
  h4 {
  font-size: 22px;
  font-family: 'Montserrat Alternates', sans-serif;
  line-height: 120%;
  font-weight: 700;
  }
}

//SUMMER 

.UT_class_summer_projectn {
  display: flex;
  flex-direction: column;
  gap: 24px;

  h4 {
    font-size: 22px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 16px;
    }
  p {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
  }
}
.video-container_logo_summer {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 360px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellips_svg_logo_SUMMER {
  display: flex;
  position: absolute;
  top: 7px;
  left: 10px;
  width: 342px;
  height: 342px;
}
.responsive-video_qw {
  object-fit: cover;
  width: auto;
  max-height: 100%;
  border-radius: 8px;
}

// VIDEO SCREENSAVER

.UT_class_screensaver_project {
  h4 {
    font-size: 22px;
    font-family: 'Montserrat Alternates', sans-serif;
    line-height: 120%;
    font-weight: 700;
    margin-bottom: 8px;
  }
  p {
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
  }
}

.utdanning_main {
  padding-top: 144px;
  padding-bottom: 100px;
  h2 {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
  }
  h5 {
    font-size: 20px;
    line-height: 140%;
    font-weight: 500;
  }
}
/// sertifikater
.sertifikater_bg {
  background-color: $BlackColor;
}

.block_sertifikar {
  padding-top: 64px;
  padding-bottom: 64px;
  h3 {
    display: flex;
    color: $Accenlor;
    font-size: 48px;
    font-weight: 800;
    justify-content: end;
    margin-bottom: 34px;
  }
}

.block_Utd {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.sertifikater_IMG {
  display:flex;
  width: 100%;
  height: 100%;
  margin-bottom: 34px;
}
.btn_motion {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    color: $BaseColor;
    gap: 12px;
  }
}

.Anmeldelser_Padding {
  padding: 100px 0px 100px 0px;
  h2 {
    font-size: 48px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
  }
  p {
    font-size: 20px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    line-height: 140%;
  }

  svg {
    width: 205px;
    height: 205px;
  }
}
.Anmeldelser_descr {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 20px;
}

.Tilbakemelding_padding {
  padding-bottom: 40px;
}
.all_bloks {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
}
.Tilbakemelding{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 64px;
  align-items: center;
}

.title_Tilbakemelding {
  font-size: 32px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
  // width: 274px;
}
.block_coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  p, a {
    font-size: 20px;
    font-weight: 600;
    color: $BlackColor;
  }
}

.block_desc_Tilbakemelding {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom:40px;
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
  }
}

.btn_linkedin {
  padding-top: 20px;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  svg {
    width: 70px;
    height: 70px;
  }
}
.img_hillel {
  img {
    width: 334px;
    height: 334px;
  }
}
.last_block_Hillel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  h2 {
    font-size: 48px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
  }
  img {
    width:100%;
    height: 100%;
  }
}

.title__aboutme {
  color: $BaseColor;
}

.btn_motion {
  display: flex;
  gap:16px;
  p{
    font-size: 24px;
    font-weight: 400;
    color: $BaseColor;
  }
}

/// ANIMATION
///

.button__FOOTER_ANIM svg {
  transition: transform 0.3s ease, fill 0.3s ease, stroke 0.3s ease;
}

.button__FOOTER_ANIM:hover svg {
  transform: scale(1.1); /* Увеличиваем svg на 10% */
}

/* При наведении меняем обводку внешнего круга на желтый */
.button__FOOTER_ANIM:hover circle {
  stroke: $Accenlor;
}

/* Внутренний фон круга становится желтым */
.button__FOOTER_ANIM:hover path:nth-of-type(1) {
  fill: $Accenlor; /* Заливка фона для внутреннего круга */
}

/* Сам значок внутри становится черным */
.button__FOOTER_ANIM:hover path:nth-of-type(2),
.button__FOOTER_ANIM:hover path:nth-of-type(3),
.button__FOOTER_ANIM:hover path:nth-of-type(4) {
  fill: black; /* Цвет иконки внутри — черный */
}
// 

/// REFERANSER
///
///
.serRef_paddding {
  padding-top: 148px;
}

.sec_referanser_blockS {
  display: flex;
  flex-direction: column;
  gap: 50px;
  h2 {
    margin-bottom:64px;
  }
}
.Main_block_referanser {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  padding-top: 30px;
}

.Main_block_referanser::after {
  content: "";
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 100%;
  height: 1px; /* Увеличиваем высоту линии снизу */
  background-color: #000;
}


.Main_block_referanser:first-of-type{
  border-top: 1px solid #000; /* Линия сверху для первого блока */
}


.sec_referanser_blockS {
  padding-top: 34px;
  h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    min-width: 116px;
  }
  p, a{
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    // margin-left: 10px;
  }
  a {
    text-decoration: underline;
    color: $BlackColor;
    max-width: 274px;
    overflow-wrap: break-word; /* Перенос длинных слов на новую строку */
    word-wrap: break-word; /* Для старых браузеров (хотя это обычно уже поддерживается) */
    &:hover {
      color: $Accenlor;
    }
  }
  h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 38px;
    font-weight: 800;
  }
}

.flex_block_ref {
  display: flex;
  // gap: 90px;
  align-items: center;
}

.section__aboutSite {
  padding-top: 82px;
}

.serRef_paddding {
  h2 {
    font-size: 48px;
    font-weight: 800;
    font-family: 'Montserrat Alternates', sans-serif;
  }
}

.block_prosjektr_title p {
  color: black;
}
.blockS_orfingsanimasjoner p  {
  color: black;
}


.white{
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 106px;
  // height: 106px;
  transition: fill 0.3s, transform 0.3s ease; /* Плавный переход для fill и transform */
  -webkit-tap-highlight-color: transparent; /* Отключает выделение на мобильных */
  display: inline-block; /* Чтобы правильно отображать SVG */
  
  svg {
    cursor: pointer; /* Меняет курсор на указатель */
    transition: background 0.3s, border-radius 0.3s; /* Плавный переход для фона и радиуса */
    
    /* Цвет фона при наведении */
    &:hover rect {
      transition: fill 0.3s;
      fill: $Accenlor; /* Устанавливаем цвет для элемента SVG */
    }
  }

  /* Увеличение SVG на 20% при ховере */
  &:hover {
    transform: scale(1.2); /* Увеличиваем SVG на 20% при ховере */
  }

  /* Убираем стандартную рамку фокуса и тень */
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.white  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Плавный переход для фона */
  transform-origin: center; /* Центрируем трансформацию */
  border-radius: 50%; /* Скругляем фон контейнера, чтобы он совпадал с кругом */
}

.white:hover {
  transform: scale(1.2); /* Увеличиваем масштаб */
  background-color: orange; /* Заливка фона при ховере */
}

.white:hover .circle-bg {
  stroke: transparent; /* Убираем обводку круга при ховере */
}

.white svg {
  width: 100%;
}