.BGMain {
  background-color: $BaseColor;
}

.block__сard {
  display: flex;
  flex-direction: column;
  // align-items: center ;
  border-radius: 8px;
  padding: 50px 20px;
}



.arbeidserfaring{
  display: flex;
  flex-direction: column;
  background-color: $BlackColor;
  h5{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    position: relative;
    margin-bottom: 26px;
    color: $Accenlor;
    &:after {
      display: inline;
      content: "";
      position: absolute;
      left: 0px;
      height: 1px; /* Толщина линии */
      // width: 100%;
      width: 100vw; /* Растягиваем на всю ширину окна */
      background-color:#B4B4B4;
      width: 100%;
      bottom: -10px;
    }
  }
}

.block_jobber{
  margin-bottom: 52px;
}

.title_expirc{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 120%;
  color: $SecondaryColor;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.text_title{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color:$BaseColor;
  margin-bottom: 16px;
}

.textDesrc{
  font-size: 18px;
  font-weight: 300;
  line-height: 150%;
  color:$BaseColor;
}




// .section__aboutSite {
//   display: flex;
//   flex-direction: column;
//   align-items: start;
//   padding: 150px 0px 50px;
//   position: relative;
//   // &::after {
//   //   content: "</>";
//   //   position: absolute;
//   //   left: auto;
//   //   right: auto;
//   //   top: 90px;
//   //   color:$TertiaryColor;
//   //   font-size: 18px;
//   //   font-weight: 600;
//   //   line-height: 24px;
//   // }
//   p {
//     letter-spacing: 0.03em;
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 22px;
//     color: $SecondaryColor;
//     text-align: center;
//   }
// }

// .main__title {
//   // margin-right: auto;
//   color: $BlackColor;
//   margin-bottom: 10px;
//   letter-spacing: 0.03em;
//   transform: translate(0px,-50%);
//   opacity: 0;
//   transition:all 0.3s ease 0s;
// }

.programmer_h2 {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  font-size: 38px;
  font-weight: 800;
  line-height: 140%;
  color: $BlackColor;
  margin-bottom: 24px;
}

.block__title._active .main__title {
  transform: translate(0px,0px);
  opacity: 1;
  transition:all 0.8s ease 0.5s;
}

.block__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.description {
  max-width: 600px;
  transform: translate(0px,-50%);
  opacity: 0;
  transition:all 0.3s ease 0s;
}
.block__title._active .description{
  font-size: 16px;
  line-height: 24px;
  transform: translate(0px,0px);
  opacity: 1;
  transition:all 0.8s ease 0.3s;
}

.section__animation {
  display: flex;
  text-align: center;
  padding: 50px 0px;
}
// .section__aboutme{
//   background-color: $BlackColor;
//   padding: 56px 20px;
// }
.title__aboutme{
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-size: 38px;
  color: $BaseColor;
}



.prosjekter_section{
  padding-top: 56px;
  padding-bottom: 56px;
}
.block_prosjektr_title{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 54px;
  h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 38px;
    line-height: 140%;
    font-weight: 800;
    margin-bottom:20px ;
  }
  p{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    line-height: 140%;
    font-weight: 400;
    color: $SecondaryColor;
    &:after {
      display: inline;
      content: "";
      position: absolute;
      left: 0px;
      height: 1px; /* Толщина линии */
      // width: 100%;
      width: 100vw; /* Растягиваем на всю ширину окна */
      background-color:#B4B4B4;
      width: 100%;
      bottom: -30px;
    }
  }
}
.kategori{
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  h5{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    line-height: 120%;
    font-weight: 700;
    color:$BlackColor;
  }
  p{
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 300;
    color:$BlackColor;
  }
}
.kategori_blocks{
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  position: relative;
  &:after {
    display: inline;
    content: "";
    position: absolute;
    left: 0px;
    height: 1px; /* Толщина линии */
    background-color:#B4B4B4;
    width: 100%;
    bottom: -20px;
  }
}
.p_left{
  margin-right: 75px;
}









//Mine ferdigheter

.mine_ferdigheter{
  position: relative;
  margin-bottom:48px;
  min-width: 390px;
  p{
    
    font-size: 18px;
    line-height: 150%;
    font-weight: 400;
    color: $SecondaryColor;
  }
  h2{
    position: relative;
    display: flex;
    align-items: flex-start;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 38px;
    line-height: 140%;
    font-weight: 800;
    margin-bottom: 52px;
    color: $BlackColor;
    &:after {
      display: inline;
      content: "";
      position: absolute;
      left: 0px;
      height: 1px; /* Толщина линии */
      background-color:#B4B4B4;
      width: 100%;
      bottom: -20px;
    }
  }
}
.h2_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  // line-height: 140%;
  font-weight: 700;
  margin-bottom:20px;
  color: $BlackColor;
  h3{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    // line-height: 140%;
    font-weight: 700;
    color: $BlackColor;
  }

}

.svg_poster {
  display: flex;
}

.blockS_orfingsanimasjoner{
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: __;
  margin-bottom: 48px;
  position: relative;
  &:after {
    display: inline;
    content: "";
    position: absolute;
    left: 0px;
    height: 1px; /* Толщина линии */
    background-color:#B4B4B4;
    width: 100%;
    bottom: -26px;
  }
  &:last-child:after {
    display: none;
  }
  
}


// Programmer som jeg behersker
.blocks {
  display:flex;
  flex-wrap: wrap;
  // justify-content: space-around;
  position: relative;
  justify-content: center;
  gap: 32px;
  // margin-bottom: 50px;
}

.blocks._active .block {
  transform: translate(0px,0px);
  opacity: 1;
  transition:all 0.8s ease 1s;
}

.blocks._active .block:nth-child(2) {
  opacity: 1;
  transform: translate(0px,0px);
  transition:all 0.8s ease 0.6s;
}

.blocks._active .block:nth-child(4) {
  opacity: 1;
  transform: translate(0px,0px);
  transition:all 0.8s ease 0.6s;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:$BaseColor;
  border-radius: 6px;
  // padding: 20px 40px;
  transform: translate(0px,-50%);
  opacity: 0;
  transition:all 0.3s ease 0s;

  &:nth-child(2) {
    transform: translate(0px, 50%);
    opacity: 0;
    transition:all 0.3s ease 1s;
  }
  &:nth-child(4) {
    transform: translate(0px,-50%);
    opacity: 0;
    transition:all 0.3s ease 0s;
  }
  &:nth-child(5) {
    transform: translate(0px, 50%);
    opacity: 0;
    transition:all 0.3s ease 0s;
  }

p {
  font-family: 'Montserrat Alternates', sans-serif;
  display: flex;
  align-items: center;
  font-size: 18px;
  // line-height: 26px;
  font-weight: bold;
  color: $BlackColor;
}
  img {
    width: 99px;
    height: 99px;
    margin-bottom: 8px;
  }
}

// FOOTER

.padding_footer {
  padding-top: 60px;
  padding-bottom: 82px;
}
.footer_alltid_block{
  margin-bottom: 40px;
}

.alltid_block{
  
  h2{
    font-size: 66px;
    line-height:100%;
    font-weight: 900;
    color: $BlackColor;
    letter-spacing: -1px;
    margin-bottom: 32px;
    color: $BlackColor;
  }
}

.gmail_block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  h5{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: $BlackColor;
  }
  &:after {
    display: inline;
    content: "";
    position: absolute;
    left: 0px;
    height: 2px; /* Толщина линии */
    background-color:$BlackColor;
    width: 100%;
    bottom: -16px;
  }
}
.footer_nav{
  display: flex;
  margin-bottom: 32px;
}
.footer_menu{
  list-style: none;
  padding: 0; /* Это также уберет отступ слева у списка */
  margin: 0;  /* Убирает стандартные внешние отступы */
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  gap: 20px;
}
.footer_link{
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: $BlackColor;
}

.footer_social_block{
  p {
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    color: #636363;
  }
}
.footer_svg{
  display: flex;
  gap: 50px;
  margin-bottom: 24px;
}