.section__aboutSite {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0px 50px;
  position: relative;
  &::after {
    content: "</>";
    position: absolute;
    left: auto;
    right: auto;
    top: 90px;
    color:$TertiaryColor;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }
  p {
    letter-spacing: 0.03em;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: $SecondaryColor;
    text-align: center;
  }
}

.main__title {
  display: flex;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  color: $BaseColor;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  transform: translate(0px,-50%);
  opacity: 0;
  transition:all 0.3s ease 0s;
}

.block__title._active .main__title {
  transform: translate(0px,0px);
  opacity: 1;
  transition:all 0.8s ease 0.5s;
}

.block__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.description {
  max-width: 600px;
  transform: translate(0px,-50%);
  opacity: 0;
  transition:all 0.3s ease 0s;
}
.block__title._active .description{
  font-size: 16px;
  line-height: 24px;
  transform: translate(0px,0px);
  opacity: 1;
  transition:all 0.8s ease 0.3s;
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 26px;
  position: relative;
}

.blocks._active .block {
  transform: translate(0px,0px);
  opacity: 1;
  transition:all 0.8s ease 1s;
}

.blocks._active .block:nth-child(2) {
  opacity: 1;
  transform: translate(0px,0px);
  transition:all 0.8s ease 0.6s;
}

.blocks._active .block:nth-child(4) {
  opacity: 1;
  transform: translate(0px,0px);
  transition:all 0.8s ease 0.6s;
}
.block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:#1D2430;
  border-radius: 6px;
  padding: 20px 40px;
  transform: translate(0px,-50%);
  opacity: 0;
  transition:all 0.3s ease 0s;
  &:nth-child(2) {
    transform: translate(0px, 50%);
    opacity: 0;
    transition:all 0.3s ease 1s;
  }
  &:nth-child(4) {
    transform: translate(0px,-50%);
    opacity: 0;
    transition:all 0.3s ease 0s;
  }
  &:nth-child(5) {
    transform: translate(0px, 50%);
    opacity: 0;
    transition:all 0.3s ease 0s;
  }

p {
  align-items: center;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: $AccentColor;
}

  img {
    width: 64px;
    height: 48px;
    margin-bottom: 8px;
  }
}

.section__animation {
  display: flex;
  text-align: center;
  padding: 50px 0px;
}

.block__animation {
  display: block;
  min-height: 200px;
  color:$BaseColor;;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  marquee {
    
    &:first-child {
      letter-spacing: 0.235em;
      color: rgba(190, 190, 190, 0.6);
    }
    font-size: 18px;
    &:nth-child(2) {
      font-size: 16px;
      line-height: 24px;
    }
    &:nth-child(3) {
      font-size: 12px;
      line-height: 18px;
    }
    &:nth-child(4) {
      img{
        border-radius: 100%;
        width: 70px;
        height: 70px;
      }
    }
    &:nth-child(8) {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.12em;
      color: #DEDBDB;
    }
    &:nth-child(10) {
      font-size: 20px;
      line-height: 28px;
      letter-spacing: 0.12em;
      color: #DEDBDB;
    }

  }
  .string__google{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    span:first-child {
      color:#4285F4;
    }
    span:nth-child(2) {
      color: #DB4437;
    }
    span:nth-child(3) {
      color: #F4B400;
    }
    span:nth-child(4) {
      color: #4285F4;
    }
    span:nth-child(5) {
      color:#0F9D58;
    }
    span:last-child {
      color:#DB4437;
      margin-right: 4px;
    }
  }
}

._anim-show {
  transform: translate(0px,120%);
  opacity: 0;
  transition:all 1s ease 0s;
}
._anim-show._active,
._active ._anim-show {
  opacity: 1;
  transform: translate(0px,0px);
}