
$SmallFontSize: 12px;
$LessFontSize:14px;

$HederFontSize:18px;
$MainFontSize:20px;
$SecondaryFontSize: 24px;
$TertiaryFontSize: 32px;

$QuaternaryFontSize:54px;
$Five-degreeFontSize:64px;

$BaseFontWeight: 700;
$SecondaryFontWeight:600;
$TretiryFontWeight:500;

$Accenlor:#FD9103;
$MainColor:#ffffff;
$AccentColor:#009AFE;
$BaseColor:#FFFFFF;
$SecondaryColor:#808080;
$TertiaryColor:#878A8F;
$BlackColor:black;








