
$SmallFontSize: 12px;
$LessFontSize:14px;
$baseFontSize: 16px;

$HederFontSize:18px;
$MainFontSize:20px;
$SecondaryFontSize: 24px;
$TertiaryFontSize: 32px;

$QuaternaryFontSize:54px;
$Five-degreeFontSize:64px;

$BaseFontWeight: 700;
$SecondaryFontWeight:600;
$TretiryFontWeight:500;

$Accenlor:#FC490B;
$MainColor:#000000;
$AccentColor:#3AB561;
$BaseColor:#FFFF;
$SecondaryColor:#B0B0B0;
$TertiaryColor:#878A8F;
