.wrapper {
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  height: auto;;
  source {
    display: none;
  }

}

.header__logo {
  display: flex;
  width: 236px;
  display: flex;
  padding-right: 30px;
}
.header__portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.8em;
  text-transform: uppercase;
  color: #313131;

  }

.header__nav {
    display: flex;
    gap: 30px;
}

.header__link{
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #FFFFFF;
  text-decoration: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}


.banner{
  position: relative;
  display: flex;
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  min-width: 40px;
  padding: 198px 0px 424px;
}

.photo {
  position: absolute;
  top: -300px;
  left: 70%;
  display: flex;
  height: 300px;
  width: 300px;
  position: relative;
  background-image: url("../../images/21.svg");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner__title {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #B0B0B0;
  margin: 0px;
  margin-right: 18px;
}

.banner__name {
  display: inline-block;
  z-index: 10;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: black;
  min-width: 400px;
  border-radius: 20px;
}

.banner__subtitle {
  z-index: 10;
  display: flex;
  min-width: 400px;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #B0B0B0;
}
.banner__profession {
  z-index: 10;
  min-width: 400px;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  display: inline-block;
  letter-spacing: 0.03em;
  color: $AccentColor;

}
.ampersand {
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  display: inline-block;
  letter-spacing: 0.03em;
  margin-right: 18px;
  color: $SecondaryColor;
}
.banner__description {
  display: flex;
    margin-top: 20px;
    font-weight: $TretiryFontWeight;
    max-width: 600px;
    font-size: 16px;
    line-height: 120%;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: $TertiaryColor;
}