@media ( min-width:768px) {

  //HEADER

  .container {
    padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .menu__list{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 124px;
    padding: 0px 20px;
  }
  .menu__item {
    position: relative;
    margin-top: 0px;
    text-decoration: none;
    color: black;
    min-width: 100px;
    width: 100%;
  }


  .header__burger-btn {
    display: none;
  }

  
  .menu {
    display: none;
  }

  .header.open .menu {
    transform: translateX(100%);
    display: none;
  }

  .menu__list{
    display: block;
  }

  .menu_desktop {
    display: flex;
    margin-left: auto;
  }

  .menu__list{
    display: inline;
    margin-top: 40px;
  }

  .link_desktop_nav {
    display: flex;
    gap: 22px;
  }
  .menu__link{
    font-size: 24px;
    font-weight: 600;
  }

  // .menu__item::after {
  //   display: none;
  // }

  .link_desktop  {
    list-style: none; /* Убираем точки в элементах списка */
    padding: 0;       /* Убираем отступы */
    margin: 0;        /* Убираем внешние отступы */
  }

  .banner__title span {
    margin-right: 23px; /* Задайте нужный размер отступа */
  }
  .banner__subtitle {
    font-size: 54px;
  }
  .title__internship {
    // color: #FD9103;
    // font-size: 24px;
    // font-weight: 700;
    // margin-bottom: 20px;
    // line-height: 130%;
  }
  .text_buttom{
    justify-content: space-between;
    gap: 0px;
  }
  .text_Banner {
    margin-bottom: 0px;
  }
  .text_banner_adaptive{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    gap: 46px;
  }

  .text_ostup {
    margin-bottom: 24px;
    padding-right: 349px;
  }
  .wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }


  // Arbeidsefraing 

  .title__aboutme{
    font-size: 48px;
  }
  .block_jobber{
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  .width__all{
    width: 106%;
  }
  .textDesrc__margin{
    // margin-left: 21px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }
  .arbeidserfaring{
    h5{
      margin-bottom: 0px;
      &::after {
        bottom: -20px;
      }
    }
  }

  .title_expirc{
    font-size: 32px;
  }
  .textDesrc{
    font-size: 24px;
  }
  // .p_left {
    
  //   margin-right: 400px;
  // }
  // .kategori p{ 
  //   margin-right: 314px;

  // }
  .text_buttom{
    justify-content:start;
    gap: 16px;
  }
  /// PROSJEKTER

  .block_prosjektr_title {
    h3{
      font-size: 48px;
    }
    p {
      line-height: 150%;
    }
  
    }
    
  //Mine ferdigheter

  .mine_ferdigheter{
    gap: 78px;
    margin-bottom: 64px;
    h2 {
      font-size: 48px;
    }
    h3{
      font-size: 32px;
    }
  }


//// Programmer som jeg beherser
  .programmer_h2{
    font-size: 48px;
    margin-bottom: 32px;
  }
  .blocks{
    gap:90px;
  }
  .block {
    img {
      width: 136px;
      height: 136px;
    }
    p {
      font-size: 24px;
    }
  }

/// FOOTERR



.padding_footer {
  padding-top: 88px;
}

.gmail_block h5 {
  font-size: 28px;
  font-weight: 500;
}
.alltid_block h2{
  font-size: 96px;
  width: 700px;
}
  .footer_menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 110px;
    a {
      font-size: 24px;
      margin-bottom: 0px;
    }
  }

  .footer__block_change {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    p{
      max-width: 333px;
    }
  }
  .footer_svg {
    margin-bottom: 33px;
    row-gap: 16px;
  }




  
  /// ABOUT
  /// 
  ///

  .en_ting_til {
    h3 {
      font-size: 48px;
    }
    h5{
      font-size: 32px;
      max-width: 533px;
    }
    .block_friv{
      display: flex;
      flex-direction: column;
      align-items: end;
      img{
        max-width: 613px;
      }
    }
  }
  .block_fiske {
    display: flex;
    gap: 53px;
    justify-content: space-between;
    align-items: center;
    h2 {
      min-width: 300px;
    }
  }
  .liker_tur{
    max-width: 300px;
  }
  .main_block_om_meg {
    h2{
      font-size: 48px;
    }
  }
  .turSVG_photo  {
    width: 563px;
  }

//// Utdanning
/// 

  .UT_class_page_project {
    padding: 40px 55px 24px 55px;

  h4  {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
  }
  .video-container {
    margin-bottom: 18px;;
  }


  .UT_class_motion_project{
    .video-container {
      background-color: #F2F0F1;
      padding: 42px 38px;
      border-radius: 12px;
    }
}



.UT_class_familia_project {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  h4{
    max-width: 209px;
  }
  p {
    max-width: 209px;
  }
  }
  .familia_backgraund {
    width: 336px;
    height: 217px;
    .responsive-video {
      display: flex;
      width: 390px;
      height: 169px;
    }
    .video-container {
      margin-right: 220px;
      border-radius: 20px;
    }
  }
  .UT_class_motion_project {
    padding: 42px 38px
    }
  }

  .UT_class_app_project {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 44px 37px 44px 34px;
  }
  .app_desc {
    width: 200px;
    h4 {
      width: auto;
    }
  }

  .UT_class_app_project{
    .video-container{
      max-width: 402px;
      padding: 0px 0px 0px 0px;
      margin-bottom: 0px;
      margin: 0px 0px;
    }
  }

  .UT_class_newvideo_project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  .new_video_block {
    padding: 96px 82px 103px 39px;
    h4 {
      width: 218px;
    }
  }





  // VIDEOOOOO LOGO

  .UT_class_newvideo_project {
    .video-container{
      display: flex;
      margin: 0px 0px;
      align-items: center;
    }
  }

.video-section_logo {
  position: relative;
  overflow: hidden;
  width: 360px;
  height: 400px; /* Или заданная высота вашей секции */
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-background_logo {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none; /* Полностью отключает элементы управления */
}
.ellips_svg_logo_newvideo {
  display: flex;
  position: absolute;
  top: 10px;
  left:24px;
  width: 328px;
  height: 386px;
}


///2020
///
///  
.UT_class_2020_project {
  padding: 39px 36px 39px 53px;
}
.block_2020 {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  .disc2020_desc  {
    h4{
    width: 152px;
    }
  }

  .UT_class_eldorado_project {
    display: flex;
    justify-content: space-between;
    .video-container_Eldorado{
      margin: 0px 0px;
      height: 600px;
    }
  }
  .eldoradod_block {
    margin-top: 100px;
    h4 {
      width: 213px;
    }
    p {
      width: 260px;
    }
  }


  //SUMMER


  .UT_class_summer_projectn {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    h4 {
      width: 317px;
    }
    p {
      width: 254px;
    }
  }


  // VIDEO SCREENSAVER
  .UT_class_screensaver_project {
    display: flex;
    align-items: center;
    gap: 50px;
    h4 {
      width: 240px;
    }
  }


  ///FAMILIA
  /// 
  /// 
  
  .UT_class_familia_project {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    h4 {
      width: 112px;
    }
    p {

      width: 200px;
    }
    .familia_backgraund {
      position: relative;

      .video-container{
        position: absolute;
        right: 100px;
      }
    }
  }



  .block_change {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .all_bloks {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:flex-start;
    // padding-top: 100px;
    // gap: 20px;

  }
  .Anmeldelser_descr {
    margin-right: 40px;
  }
  .Tilbakemelding {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  // .title_Tilbakemelding {
  //   font-size: 48px;
  // }
  .img_hillel img {
    width: 301px;
    height: 301px;
  }

  .sec_referanser_blockS {

    p,a {
      max-width: 100%;
    }

  }

}












