@media ( min-width:1024px) {
  
  .header {
    background-color: #1D2430;
  }

  .logo__img {
    display: flex;
    width:100px;
    height:40px;
  }

  .container {
    justify-content: space-between;
    padding: 20px 40px;
  }
  .menu__list{
    display: flex;
    min-width: 100%;
    gap: 14px;
    flex-wrap: wrap;
  }

  .menu__link {
    padding: 4px 10px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    font-weight: 500;
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      transition:0.4s;
      color:rgb(0, 0, 0);
      padding: 4px 10px;
      border-radius: 10px;
      letter-spacing: 0.03em;
      background-color: #ffffff;
    }
  }

  .menu__item{
    display: flex;
    margin-right: 0px;
  }

  hr {
    border: none;
    display: flex;
    height: 20px;
    width: 2px;
    border-radius: 10px;
    background-color:$AccentColor;
    margin: 0px 10px;
    }

  .behance:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:0.1s;
    color:$BaseColor;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: #053eff;
  }

  .linkedin:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:0.1s;
    color:$BaseColor;
    padding: 6px 10px;
    border-radius: 10px;
    background-color:#0e76a8 ;
  }

  .instagram:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:0.1s;
    color:$BaseColor;
    padding: 6px 10px;
    border-radius: 10px;
    background: radial-gradient(92.18% 99.11% at 26.56% 107.7%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);;
  }

  .github:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition:0.1s;
    color:$BaseColor;
    padding: 6px 10px;
    border-radius: 10px;
    background-color: #171515;
  }
  .title__portfolio {
    display: none;
  }

  .banner {
    padding-top: 160px;
  }
  .banner__block {
    min-width: 300px;
  }
  .background__img {
    &::before {
      padding: 208px;
      top: -21px;
      left: -3px;
    }
  }
  .banner__img{
    width: 400px;
    height: 400px;
    border-radius: 300px;
  }
  @media  (min-width:1024px){
    .banner__description {
      max-width: 650px;
    }
  }
  @media(min-width:1200px) {
    .banner__title {
      font-size: 36px;
      line-height: 36px;
      font-weight: 500;
      span {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
      }
    }
    .banner__subtitle {
      font-size: 36px;
      line-height: 36px;
      font-weight: 500;
      span {
        font-size: 36px;
        line-height: 36px;
        font-weight: 700;
      }
    }
    .banner__tertiary {
      margin-bottom: 50px;
    }
    .ampersand {
    }
    .banner__description {
    }
  }
}

// @media  (min-width:1024px) {
//   .wrapper {
//     max-width: 1600px;
//     padding-left: 60px;
//     padding-right: 60px;
//     margin-left: auto;
//     margin-right: auto;
//   }

//   .header-background{
//     display: flex;
//     position: relative;
//     position: fixed;
//     width: 100%;
//     z-index: 100;
//     background-color:#1D2430;
//   }

//   .header {
//     display: flex;
//     flex-direction:row;
//     align-items: center;
//     width: 100%;
//     padding: 0px 60px;
//   }

//   .logo {
//     display: flex;
//     margin: 0px;
//   }

//   .header__logo{
//     display: flex;
//     margin: 0px;
//     width: 80px;
//     height: 40px;

//   }
//   .header__menu {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding: 20px 0px ;
//     width: 100%;
//   }

//   .header__burger {
//     display: none;
//   }

//   .header__nav {
//     display: flex;
//     flex-wrap: wrap;
//     gap: 4px;
//     .header__link:nth-child(-n+2){
//       display: none;
//     }
//   }
  

//   .header__link {
//     display: flex;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 16px;
//     padding: 6px 8px;
//     display: flex;

//     align-items: center;
//     letter-spacing: 0.03em;
//     color:#FDFEFE;
//   }

//   .header__link:hover {
//     -webkit-transform: scale(1.2);
//     -ms-transform: scale(1.2);
//     transform: scale(1.1);
//     transition:0.3s;
//     color:$BaseColor;
//     padding: 6px 8px;
//     border-radius: 10px;
//     letter-spacing: 0.03em;
//     background-color: #7A828F;
//   }
//   hr {
//     display: flex;
//     width: 24px;
//     border: 1px solid #FDFEFE;
//     border-radius: 10px;
//     rotate: (90deg);
//     margin: 0px 20px ;
    
//   }
//   .webresource {
//     display: flex;
//     justify-content: space-between;
//     gap: 20px;
//   }
//   @media (min-width:1100px) and (max-width:1440px){
//     .header__nav {
//       gap: 40px;
//     }
//   }

//   .webresource__link {
//     display: flex;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 16px;
//     color: #FDFEFE;
//     text-decoration: none;
//     padding: 6px 8px;
//     letter-spacing: 0.03em;
//   }



// .tran{
//   animation-name: bran;
//   animation-duration: 2s;
//   transform: rotate(360deg);
// }
// @keyframes bran {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
// @-webkit-keyframes bran {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }

//   .title__portfolio {
//     display: none;
//   }

//   .banner__mainPage {
//     display: flex;
//     padding-top: 100px;
//     padding-bottom: 200px;
//     flex-direction: row-reverse;
//     justify-content: space-between;
//   }

//   .banner__photo {
//     display: flex;
//     position: relative;
//     z-index: 1;
//     &::before {
//       content: "";
//       position: absolute;
//       padding: 160px;
//       top: 77px;
//       left: -8px;
//       background-color: #7A828F;
//       border-radius: 1100px;
//     }
//     img {
//       width: 300px;
//       height: 300px;
//       z-index: 1;
//       border-radius: 1000px;
//       margin-top: 100px;
//       margin-right: 100px;
//     }
//   }

// .banner{
//   display: flex;
//   position: relative;
//   flex-direction: column;
//   align-items:flex-start ;
//   justify-content: space-between;
//   min-width: 40px;
// }

// .banner__title {
//   display: flex;
//   justify-content: center;
//   align-items: flex-end;
//   margin: 0px;
//   font-weight: 600;
//   font-size: 36px;
//   line-height: 36px;
//   color: #FDFEFE;
//   margin-top: 100px;
//   margin-bottom: 26px;
//   span {
//     display: flex;
//     color: #FDFEFE;
//     margin-right: 10px;
//     font-weight: 500;
//     font-size: 36px;
//     line-height: 36px;
//   }
// }

// .brann{
//   animation-name: brann;
//   animation-duration: 20s;
//   transform: rotate(360deg);
// }
// @keyframes brann {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(360deg);
//   }
// }
// @-webkit-keyframes brann {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transfor:(360deg);
//   }
// }

// .banner__subtitle {
//   display: flex;
//   flex-direction: row;
//   justify-content: flex-start;
//   align-items: center;
//   font-weight: 700;
//   font-size: 40px;
//   line-height: 40px;
//   margin-bottom: 10px;
//   color: #FDFEFE;
//   span {
//     position: relative;
//     padding: 0px 0px;
//     border-radius: 20px;
//     font-weight: 500;
//     font-size: 36px;
//     line-height: 36px;
//     display: flex;
//     align-items: center;
//     letter-spacing: 0.03em;
//     color:#FDFEFE;
//     margin-right: 10px;

//   }
// }


// .banner__profession {
//   display: flex;
//   flex-direction: row;
//   min-width: 400px;
//   font-weight: 500;
//   font-size: 26px;
//   line-height: 26px;
//   letter-spacing: 0.03em;
//   margin-bottom: 40px;
//   color: #FDFEFE;
// }

// .ampersand {
//   font-weight: 500;
//   font-size: 26px;
//   line-height: 26px;
//   display: inline-block;
//   letter-spacing: 0.03em;
//   margin-right: 18px;
//   color: #FDFEFE;
// }


// .scroll{
//   display: flex;
//   position:fixed;
//   justify-content: center;
//   margin-left: auto;
//   top:80%;
//   left:80%;
//   width: 200px;
//   font-weight: 600;
//   font-size: 20px;
//   line-height: 24px;
//   align-items: center;
//   letter-spacing: 0.23em;
//   margin-bottom: 180px;;
//   color: $MainColor;
//   &::before {
//     position: absolute;
//     content: "";
//     padding: 14px 14px;
//     background-color:$AccentColorDesktop;
//     border-radius: 40px;
//     top:-3px;
//     left:40px;
//     z-index: -1;
//   }
//   &::after {
//     position: absolute;
//     content: "";
//     top:50px;
//     left:92px;
//     width: 2px;
//     height: 100px;
//     background-color: rgba(176, 176, 176, 0.55);
//     border-radius: 16px;
//   }
// }
// .banner__description {
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     font-weight: $TretiryFontWeight;
//     max-width: 600px;
//     font-size: 16px;
//     line-height: 20px;
//     letter-spacing: 0.03em;
//     color:#7A828F;
//     margin-bottom: 80px;
// }

// .main__section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   p {
//     font-size: 16px;
//     font-weight: 500;
//     line-height: 16px;
//     color: $BaseColor;
//     max-width: 700px;
//     text-align: center  ;
//   }
// }
// .main__title {
//   display: flex;
//   position: relative;
//   font-size: 30px;
//   font-weight: 600;
//   line-height: 30px;
//   color: $BaseColor;
//   margin-bottom: 10px;
//   &::after {
//     content: "</>";
//     position: absolute;
//     left: 40%;
//     top: -40px;
//   }
// }

//   .button {
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 20px;
//     text-align: center;
//     color: #FDFEFE;
//     background-color: #3AB561;
//     padding: 8px 40px;
//     border-radius: 4px;
//     margin-right: 20px;
//     border: 2px solid #3AB561;
//     &:hover {
//       border: 2px solid #ffffff;
//       background: #ffff;
//       font-weight: 500;
//       padding: 8px 40px;
//       color: #000000;
//     }
//   }

//   .button__secondary {
//     font-size: 18px;
//     font-weight: 500;
//     line-height: 20px;
//     text-align: center;
//     padding: 8px 40px;
//     color: #B0B0B0;
//     border-radius: 4px;
//     border: 2px solid #B0B0B0;
//     &:hover {
//       background: #FFFF;
//       font-weight: 500;
//       padding: 8px 40px;
//       color: #000000;
//       border: 2px solid #ffffff;
//     }
//   }
// }