@media  (min-width:1440px) {

  .wrapper {
    padding-left: 100px;
    padding-right: 100px;
  }
  .container {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .header {
    z-index: 0;
    position: relative;
  }

  .menu__list{
    gap: 30px;
  }
  .menu__item{
    &:nth-child(3) {
      &::after {
        width: 3px;
        left: 130px;
      }
    }
  }

  .banner {
    padding-top: 0px;
    margin-bottom: 120px;
  }
  .banner__title {
    font-weight: 800;
    font-size: 88px;
    line-height: 150%;
    margin-bottom: 0px;
    span {
      font-weight: 800;
      font-size: 88px;
      line-height: 150%;
    }
  }

  .banner__subtitle {
    font-weight: 800;
    font-size: 64px;
    line-height: 66px;
    span {
      font-weight: 800;
      font-size: 64px;
      line-height: 66px;
    }
  }

  .text_Banner {
    font-size: 24px;
    max-width: 612px;
  }

  // .text_banner_adaptive{
  //   align-items: center;
  // }
  
  // .text_buttom{
  //   margin-left: 100px;
  // }
  /* Стиль для кнопки */









  .text_ostup {
    padding-right: 0px;
  }
  .displye {
    display: none;
  }
  .displye__to {
    display: flex;
    a {
      display: flex;
      align-items: start;
    }
  }
  .flex__dirc{
    display: flex;
    gap: 50px;
  }
  .kat_marg {
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }

  .blockS_orfingsanimasjoner {
    p {
      max-width: 610px;
    }
  }

  .programmer_h2{
    margin-bottom: 48px;
  }




  ///FOOTER
  /// 
  ///
  .footer_alltid_block {
    margin-bottom: 104px;
  }
  
  .footer_social_block{
    gap: 246px;
  }
  
  .gmail_block h5 {
    font-size: 56px;
  }

}

