.block__cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  gap: 10px;
}

.block__trainee-cv{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  img {
    border-radius: 50%;
  }
}

.block__trainee-title {
  display: flex;
  flex-direction: column;
  // background-color:$BaseColor;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  p{
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color:$TertiaryColor;
  }
}
.title__trainee {
  color:$TertiaryColor;
  text-align:start;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  span{
    color: $AccentColor;
  }
}

.blocks__social-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.block__git-hub{
  display: flex;
  background-color:#E0EBFE;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  gap: 50px;
  max-width: 400px;
  width:100%;
}

.git__hub-title{
  display: flex;
  flex-direction: column;
  color:$TertiaryColor;
  gap: 30px;
  span{
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
  }
  h3 {
    max-width: 110px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
  h2 {
    display: flex;
    position: relative;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color:$AccentColor ;
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -6px;
      width: 100px;
      background-color:$AccentColor ;
      height: 3px;
    }
  }
}

.block__change {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.block__behance{
  display: flex;
  background-color:#E0EBFE;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width:100%;
}

.behance-title{
  display: flex;
  flex-direction: column;
  color:$TertiaryColor;
  gap: 20px;
  max-width: 150px;
  img {
    display: flex
  };
  h3 {
    max-width: 150px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
  h2 {
    display: flex;
    position: relative;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color:$AccentColor ;
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -6px;
      width: 128px;
      background-color:$AccentColor ;
      height: 3px;
    }
  }
}
.block__instagram{
  display: flex;
  background-color:#E0EBFE;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width:100%;
}

.instagram__title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:$TertiaryColor;
  gap: 30px;
  max-width: 150px;
  img {
    display: flex
  };
  
  span{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  }
  h3 {
    max-width: 150px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
  h2 {
    display: flex;
    position: relative;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color:$AccentColor ;
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -6px;
      width: 154px;
      background-color:$AccentColor ;
      height: 3px;
    }
  }
}