.page__cv {
  padding: 150px 0px 50px;
}

.block__cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 50px;
  gap: 10px;
}

.block__trainee-cv{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  img {
    border-radius: 50%;
  }
}

.block__trainee-title {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  p{
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color:$TertiaryColor;
  }
}

.title__trainee {
  color:$TertiaryColor;
  text-align:start;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 10px;
  span{
    color: $AccentColor;
  }
}

.blocks__social-link {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.block__git-hub{
  display: flex;
  background-color:#E0EBFE;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  gap: 50px;
  max-width: 400px;
  width:100%;
}

.git__hub-title{
  display: flex;
  flex-direction: column;
  color:$TertiaryColor;
  gap: 30px;
  span{
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
  }
  h3 {
    max-width: 110px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
  h2 {
    display: flex;
    position: relative;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color:$AccentColor ;
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -6px;
      width: 100px;
      background-color:$AccentColor ;
      height: 3px;
    }
  }
}

.block__change {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.block__behance{
  display: flex;
  background-color:#E0EBFE;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width:100%;
}

.behance-title{
  display: flex;
  flex-direction: column;
  color:$TertiaryColor;
  gap: 20px;
  max-width: 150px;
  img {
    display: flex
  };
  h3 {
    max-width: 150px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
  h2 {
    display: flex;
    position: relative;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color:$AccentColor ;
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -6px;
      width: 128px;
      background-color:$AccentColor ;
      height: 3px;
    }
  }
}

.block__instagram{
  display: flex;
  background-color:#E0EBFE;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  width:100%;
}

.instagram__title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:$TertiaryColor;
  gap: 30px;
  max-width: 150px;
  img {
    display: flex
  };
  span{
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
  }
  h3 {
    max-width: 150px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
  }
  h2 {
    display: flex;
    position: relative;
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    color:$AccentColor ;
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      bottom: -6px;
      width: 154px;
      background-color:$AccentColor ;
      height: 3px;
    }
  }
}

.cv__name{
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  color: #E0EBFE;
  letter-spacing: 0.1em;
}

.courses {
  display: flex;
  flex-direction: column;
  padding: 80px 0px;
  h2{
    color: #ffffff;
    font-size: 26px;
    line-height: 34px;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

.blocks__courses{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.block__certificate-courses{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:#E0EBFE;
  border-radius: 10px;
  width: 100%;
  max-width: 450px;
  h3 {
    color: #121723;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  p {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    color: $AccentColor;
    margin-bottom: 4px;
  }
  time {
    font-size: 14px;
    line-height: 16px;
    color: $AccentColor;
    font-weight: 500;
  }
}

.img__desing-certificate{
  height: 100px;
  width: 200px;
  background-image: url("../images/certificate_UiUxDesign.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.img__frontend-certificate{
  height: 100px;
  width: 200px;
  background-image: url("../images/certificate_FrontendBasic.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.skills__title{
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  color:#ffffff;
  margin-bottom: 30px;
}

.block__general-skills{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px 0px 50px 0px;
}

.block__cv-skills{
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
}

.block__design-skills{
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 10px;
  max-width: 100%;
  width: 100%;
}

.design__skills{
  display: flex;
  flex-direction: column;
  background-color:#E0EBFE;
  border-radius: 10px;
  padding: 26px;
  height: 100%;
  // max-width: 600px;
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-size: 18px;
    padding: 10px 14px;
    letter-spacing: 0.2em;
    border-radius: 8px;
    color: #ffffff;
    background-color:#121723;
    line-height: 18px;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.title__developer{
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.card__skills {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex-wrap: wrap;
  background-color:#E0EBFE;
  border-radius: 10px;
  padding: 26px;
}

.card__title{
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    padding: 10px 14px;
    letter-spacing: 0.2em;
    border-radius: 8px;
    color: #ffffff;
    background-color:#121723;
    font-weight: 700;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  li:first-child{
    color:$Accenlor;
  }
  li:nth-child(2){
    color:#039BE5;
  }
  li:nth-child(3){
    color:#FFD600;
  }
}

.block__skills {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-left: 30px;
  li{
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 14px;
    letter-spacing: 0.2em;
    border-radius: 8px;
    color: #ffffff;
    background-color:#121723;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  li:nth-child(5){
    color: #D50000;
    font-weight: 700;
  }
  li:nth-child(8){
    color: #FFAC45;
  }
}

.preprocessors{
  background-color:#E0EBFE;
  border-radius: 10px;
  padding: 26px;
}

.preprocessors__title {
  display: flex ;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  color:$Accenlor;
  font-weight: 600;
  background-color: #121723;
  padding: 10px;
  max-width: 150px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.block__preprocessors{
  margin-left: 30px;
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 14px;
    letter-spacing: 0.2em;
    border-radius: 8px;
    color: #ffffff;
    background-color:#121723;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.block__javascript{
  background-color:#E0EBFE;
  border-radius: 10px;
  padding: 26px;
}

.javascript__title{
  display: flex ;
  justify-content: center;
  font-size: 18px;
  line-height: 24px;
  color:#FFD600;
  font-weight: 600;
  background-color: #121723;
  padding: 10px;
  max-width: 120px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.block__js-skills {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  gap: 10px;
  li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    padding: 10px 14px;
    letter-spacing: 0.2em;
    border-radius: 8px;
    color: #ffffff;
    background-color:#121723;
    font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.section__educa-exper{
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.education{
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#E0EBFE;
    margin-bottom: 20px;
  }
}

.block__education{
  display: flex;
  flex-direction: column;
  background-color:#E0EBFE;
  padding: 20px;
  border-radius: 10px;
  max-width:660px;
  gap: 10px;
  h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color:#121723;
    margin-bottom: 4px;
  }
  p{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #101214;
  }
}

.experience{
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#E0EBFE;
    margin-bottom: 20px;
  }
  time{
    color: #039BE5;
    font-weight: 500;
  }
}
.block__change-exp{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.block__experience {
  display: flex;
  flex-direction: column;
  background-color:#E0EBFE;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  gap: 10px;
  .freelance__title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color:$AccentColor;
    margin-bottom: 8px;
  }
  h3{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color:#121723;
    margin-bottom: 4px;
  }
  p{
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    color: #101214;
  }
}

@media (min-width:768px) {
  .cv__name{
    font-size: 38px;
    line-height:46px;
  }

  .block__general-skills{
    gap: 50px;
  }

  .block__change-exp{
    flex-direction: row;
  }
}
@media(min-width:1024px){
  .block__general-skills{
    flex-direction: row;
  }
}

@-webkit-keyframes swing
{
  15%
  {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  30%
  {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50%
  {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
  }
  65%
  {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80%
  {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100%
  {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes swing
{
  15%
  {
    -webkit-transform: translateY(5px);
    transform:translateY(5px);
}
  30%
  {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  50%
  {
    -webkit-transform: translateY(3px);
    transform:translateY(3px);
  }
  65%
  {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
  80%
  {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100%
  {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.swing:hover
{
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
