@font-face {
  font-family: 'icomoon';
  src:
    url('../images/fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e900";
  font-size: 38px;
}
.icon-dribbble:before {
  content: "\e901";
  font-size: 38px;
}
.icon-behance:before {
  content: "\e902";
  font-size: 38px;
}
.icon-github:before {
  content: "\e903";
  font-size: 38px;
}
.icon-linkedin:before {
  content: "\e904";
  font-size: 38px;
}
.icon-instagram:before {
  content: "\e905";
  font-size: 38px;
}
.icon-telegram:before {
  content: "\e906";
  font-size: 38px;
}





