@mixin font($fs,$lh) {
  font-size: $fs;
  @if ($fs > $lh) {
    line-height: $fs;
  } @else {
    line-height: $lh;
  }
}

@mixin cover ($url) {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("#{$url}");
}

@mixin px($size) {
  padding-left: $size;
  padding-right: $size;
}

@mixin py($sizeTop,$sizebottom) {
  padding-top:$sizeTop;
  padding-bottom:$sizebottom;
}

@mixin pXY ($sizeX,$sixeY) {
  @include px ($sizeX);
  @include py ($sixeY);
}