* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
// учитывать границы и отступы в значениях которое мы указываем для высоты и ширины 

body {
  font-family: 'Montserrat', Arial, sans-serif;
  font-style: normal;
  min-width: 430px;
  overflow: auto;
  background-color: #ffffff;

  //-------
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
  a {
  text-decoration: none;
  }

  // .block p {
  //   font-family: 'Montserrat Alternates', sans-serif;
  // }
}

/* Состояние, при котором страница видна */
body.visible {
  opacity: 1;
}
